body {
    margin: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 45, 75);
}
.logo {
    color: white;
    margin: 10px 20px 30px 40px;
}
.links nav a {
    color: white;
    margin: 10px 20px 30px 40px;
    text-decoration: none;
}